body{ 
    background-color: blueviolet;
}
#logo{
   font-size:32px ; 
   font-family:sans-serif ;
}
#log{
    color: brown;
}

#img1{
    width:50% ;
    height:50% ;
}

.offer{
    margin-top: 10%;
}

#btn{
    background-color:brown;
    color: white;
    
    text-decoration: none;
}
#btn:hover{
    cursor:pointer ;
    background-color: blueviolet;
}
#h11{
    color: brown;
}