 
body{background-color: purple;
    background-image:url("./bg-desktop.svg");}
 #h1{text-align: center;
      color: white;
      background-color:white ;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
   }

#p1{color: royalblue;
  background-color:white;
  width: 600px;
  margin-left: 300px;
  opacity:70% ;
  
}


#img1{
    width: 50%; ;
    height: 30%; ;
    margin-top:10% ;
    
    
}
#img{width: 60%;
    height:50% ;
    margin-top:10% ;

}

.container{
    display: flex;
}  
.lowersection{
    display: flex;
    background-color:chartreuse ;
}  


#b1{
    border-radius:20px ;
    background-color: blue;
    width: 40%;
    padding-left: 10px;
    padding-right:10px ;
    padding-bottom: 7px;
    padding-top:7px ;
    color:white;
    border-color: transparent;
    margin-top:15%;
    text-align: center;
}

#b2{
    border-radius:20px ;
    background-color:green ;
    width: 40%;
    padding-left: 10px;
    padding-right:10px ;
    padding-bottom: 7px;
    padding-top:7px ;
    color: white;
    border-color: transparent;
    margin-top: 15%;
    
    text-align: center;
}
.card{background-color: brown;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    


}
#left{
    
background-color:white;
width:300px ;
height:400px ;
text-align: center;
margin-left:10% ;
border-top: red  4px solid;
border-radius:20px ;
}


#right{background-color:red ;
     border-top:white 4px solid ;
    width: 300px;
    height:400px ;
    text-align:center ;
    margin-left:20% ;
    border-radius:20px ;
    


}
#h2{
    opacity:70% ;
}
@media only screen and (max-width: 519px) {
    .card {margin-bottom:100% ;
      
    }

}

@media only screen and (max-width: 315px) {

  
  #p1{margin-left:-10px ;
    height: 250px;
    width:315px ;
     
}
    #left{width: 180px;
        margin-left:-10px ;
        height:600px ;
    
    }
    #right{width:160px ;
        height:600px ;
        margin-left: 10%;
    
    }
}
@media only screen and (max-width: 360px) {
.lowersection{width:600 px;}
#right{width:200px ;
    height:600px ;
    margin-left:3% ;

}
#left{
    width:200px ;
    height:600px ;
    
}

#p1{margin-left:-10px ;
    width: 330px;
    height:300px ;
}
#h1{width: 330px;
    height: 300px;

}

}
